/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style/main.scss ***!
  \**************************************************************************************************************/
/*Base
==========================*/
/*Header
==========================*/
/*Popup
==========================*/
/*Form
==========================*/
/*Calendar
==========================*/
/*Button
==========================*/
/*Event
==========================*/
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background: #fff; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

img {
  display: block; }

.center {
  padding-left: calc(50% - 512px);
  padding-right: calc(50% - 512px); }

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100px;
  background-color: #F4F4F4; }
  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px; }
  .header__buttons {
    display: flex;
    position: relative;
    gap: 10px; }

.icon--svg path {
  transition: fill 0.2s linear, transform 0.2s linear; }

.form {
  position: relative;
  left: 0;
  top: 0;
  z-index: 0; }
  .form__icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -40px;
    top: 5px;
    z-index: 1;
    border: none;
    cursor: pointer;
    background: none; }
    .form__icon:hover path {
      fill: #000;
      transform: scale(1.1); }
  .form__input {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
    width: 210px;
    padding: 6px 12px;
    border: 1px solid #CFCFCF;
    box-shadow: inset 0px 0px 1px 2px #00000040;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.1;
    color: #292929;
    background: #fff;
    outline: none; }
    .form__input::-webkit-search-cancel-button {
      width: 20px;
      height: 20px;
      -webkit-appearance: none;
      background: url(../assets/icon_cross.svg) no-repeat center;
      cursor: pointer; }
    .form__input::placeholder {
      color: #CFCFCF; }
    .form__input:focus {
      border: 1px solid #27A1FF; }
    .form__input:invalid {
      border: 1px solid #E94E4E;
      color: #E94E4E; }
    .form__input:disabled {
      border: 1px solid #CFCFCF;
      color: #CFCFCF;
      background: #F4F4F4; }
  .form__textarea {
    width: 100%;
    height: 125px;
    margin-top: 16px;
    resize: none;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    box-shadow: inset 0px 0px 1px 2px #00000040;
    padding: 6px 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.1;
    color: #292929;
    background: #fff; }
    .form__textarea::placeholder {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.1;
      color: #CFCFCF; }
    .form__textarea:focus {
      border: 1px solid #27A1FF;
      outline: none; }
    .form__textarea:invalid {
      border: 1px solid #E94E4E;
      color: #E94E4E; }
    .form__textarea:disabled {
      border: 1px solid #CFCFCF;
      color: #CFCFCF;
      background: #F4F4F4; }
  .form-control {
    display: flex;
    gap: 20px; }

.event {
  display: none;
  width: 300px;
  height: 315px;
  padding: 12px;
  position: absolute;
  left: 150px;
  top: 0px;
  z-index: 2;
  background: #fff;
  filter: drop-shadow(0px 0px 7px #00000040); }
  .event::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    left: -5px;
    z-index: -2;
    transform: rotate(45deg);
    background: #fff; }
  .event--active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px; }
  .event__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px; }
  .event__input {
    width: 270px;
    height: 28px; }

.popup {
  display: none;
  position: absolute;
  left: 0;
  top: 150%;
  z-index: 2000;
  width: 300px;
  height: 94px;
  padding: 12px;
  background: #fff;
  filter: drop-shadow(0px 0px 7px #00000040); }
  .popup--active {
    display: block; }
  .popup__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 0;
    top: 0;
    gap: 8px; }
    .popup__inner::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      left: 10px;
      top: -20px;
      z-index: -1;
      background: #fff;
      transform: rotate(45deg); }
  .popup__input {
    width: 276px;
    height: 28px; }

.icon--cross {
  margin-left: auto;
  cursor: pointer;
  transition: transform 0.2s linear; }
  .icon--cross:hover path {
    transform: scale(1.1); }
  .icon--cross--form {
    margin-right: 10px; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .main__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 48px;
    padding: 12px 0px; }
  .main__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px; }

.data-text {
  width: 130px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #292929; }

.calendar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 10px; }

.day {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  max-width: 146px;
  width: 100%;
  height: 120px;
  border: 1px solid #292929;
  padding: 8px;
  position: relative;
  left: 0;
  top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  color: #6B6B6B;
  transition: background 0.1s linear, border 0.2s linear, box-shadow 0.2s linear; }
  .day:hover {
    background: #F4F4F4; }
  .day--block:hover {
    background: none; }
  .day:active {
    background: #FFFFFF;
    border: 1px solid #292929;
    box-shadow: 0px 0px 10px 2px #0271C7; }
  .day--active {
    border: 1px solid #292929;
    box-shadow: 0px 0px 10px 2px #0271C7; }
  .day__head {
    font-family: "Roboto", sans-serif;
    font-weight: 400; }
  .day__title {
    height: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #292929; }
  .day__text {
    width: 125px;
    height: 32px;
    font-size: 14px;
    line-height: 16px;
    color: #6B6B6B; }

.btn {
  width: 80px;
  height: 26px;
  padding: 6px 12px 6px 12px;
  border-radius: 2px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 1px #00000040;
  background-color: #0271C7;
  cursor: pointer;
  transition: background 0.2s linear; }
  .btn--active {
    background-color: #C2E4FE; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    background-color: #27A1FF; }
  .btn:active {
    background-color: #C2E4FE; }
  .btn:disabled {
    background-color: #CFCFCF; }

.btn-icon {
  display: block;
  transition: fill 0.2s linear; }

.btn-control {
  display: block;
  width: 36px;
  height: 28px;
  border: none;
  border-radius: 4px;
  padding: 2px 6px;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  background: #fff;
  transition: background 0.2s linear, color 0.2s linear;
  cursor: pointer; }
  .btn-control--create {
    width: 59px;
    height: 18px;
    font-size: 12px;
    margin-top: 10px; }
  .btn-control--next {
    transform: rotate(180deg); }
  .btn-control:hover,
  .btn-control:hover .btn-icon path {
    background: #6B6B6B;
    fill: #fff; }
  .btn-control:active {
    background: #CFCFCF; }
  .btn-control:disabled,
  .btn-control:disabled .btn-icon path {
    transition: none;
    border: 1px solid #CFCFCF;
    background: #FFFFFF;
    fill: #CFCFCF; }
  .btn-control--today {
    width: 60px;
    height: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #292929; }
    .btn-control--today:hover {
      color: #fff; }
    .btn-control--today:disabled {
      transition: none;
      background: #FFFFFF;
      color: #CFCFCF; }
  .btn-control--form {
    width: 60px;
    height: 18px;
    padding: 2px 6px;
    font-size: 12px; }

