/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style/main.scss ***!
  \**************************************************************************************************************/
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background: white; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

img {
  display: block; }

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px; }

.icon-svg {
  display: block; }
  .icon-svg--cross {
    margin-left: auto;
    cursor: pointer; }

/**
* General style for page layout
* 1. Make page layouts on the sides
*/
.center {
  padding-left: calc(50% - 512px);
  /* 1 */
  padding-right: calc(50% - 512px);
  /* 1 */ }

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  color: white;
  text-shadow: 0 0 4px #00000080;
  width: 80px;
  height: 26px;
  padding: 6px 12px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: #0271c7;
  transition: background 0.2s linear;
  cursor: pointer; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    background: #27a1ff; }
  .btn:active {
    background: #c2e4fe; }
  .btn:disabled {
    background: #cfcfcf; }

.btn-control {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  color: white;
  text-shadow: 0 0 4px #00000080;
  display: block;
  width: 36px;
  height: 28px;
  padding: 2px 6px;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.25);
  color: black;
  text-shadow: none;
  background: white;
  transition: background 0.2s linear, color 0.2s linear;
  cursor: pointer; }
  .btn-control:hover {
    background: #6b6b6b;
    fill: white; }
  .btn-control:active {
    background: #cfcfcf; }
  .btn-control:disabled {
    border: 1px solid #cfcfcf;
    background: white;
    fill: #cfcfcf;
    transition: none; }
  .btn-control:nth-child(3) {
    transform: rotate(180deg); }

.btn-control-form {
  width: 60px;
  height: 18px;
  padding: 2px 6px;
  font-size: 12px; }

.btn-form-closest {
  margin-left: auto;
  border: none;
  background: none; }

.btn-control--create {
  width: 59px;
  height: 18px;
  margin-top: 10px;
  font-size: 12px; }

.btn-control--today {
  width: 60px;
  height: 20px;
  color: #292929; }
  .btn-control--today:hover {
    color: white; }
  .btn-control--today:disabled {
    color: #cfcfcf;
    background: white; }

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100px;
  background: #f4f4f4; }

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px; }

.header__buttons {
  position: relative;
  display: flex;
  gap: 10px; }

.form {
  position: relative;
  left: 0;
  top: 0;
  z-index: 0; }

.form-control {
  display: flex;
  gap: 20px; }

.form__input {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.1;
  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
  display: block;
  width: 210px;
  padding: 6px 12px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.25);
  color: #292929;
  background: white;
  outline: none; }
  .form__input::-webkit-search-cancel-button {
    width: 20px;
    height: 20px;
    appearance: none;
    background: url(../assets/icon_cross.svg) no-repeat center;
    cursor: pointer; }
  .form__input::placeholder {
    color: #cfcfcf; }
  .form__input:focus {
    border: 1px solid #27a1ff; }
  .form__input:disabled {
    border: 1px solid #cfcfcf;
    color: #cfcfcf;
    background: #f4f4f4; }
  .form__input.invalid {
    border: 1px solid #e94e4e; }
  .form__input.valid {
    border: 1px solid #98ea85; }

.form__textarea {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.1;
  resize: none;
  width: 100%;
  height: 125px;
  margin-top: 16px;
  padding: 6px 12px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.25);
  color: #292929;
  background: white; }
  .form__textarea::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.1;
    color: #cfcfcf; }
  .form__textarea:focus {
    border: 1px solid #27a1ff;
    outline: none; }
  .form__textarea.valid {
    border: 1px solid #98ea85; }
  .form__textarea.invalid {
    border: 1px solid #e94e4e; }
  .form__textarea:disabled {
    border: 1px solid #cfcfcf;
    color: #cfcfcf;
    background: #f4f4f4; }

.form__footer {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.form-message {
  color: #e94e4e; }
  .form-message.hidden {
    display: none; }

.form__icon {
  position: absolute;
  left: -40px;
  top: 5px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  cursor: pointer; }

.day {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.1;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  max-width: 146px;
  width: 100%;
  height: 120px;
  padding: 8px;
  border: 1px solid #292929;
  font-weight: 400;
  color: #6b6b6b;
  transition: background 0.1s linear, border 0.2s linear, box-shadow 0.2s linear; }
  .day:hover {
    background: #f4f4f4; }
  .day:active {
    border: 1px solid #292929;
    background: white;
    box-shadow: 0 0 10px 2px #27a1ff; }
  .day.valid {
    background: #27a1ff; }

.day__head {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: inherit;
  overflow: hidden; }

.day__title {
  width: 100%;
  height: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #292929;
  overflow: hidden; }

.day__subtitle {
  width: 100%;
  height: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #292929;
  overflow: hidden; }

.day__text {
  width: 100%;
  width: 125px;
  height: 32px;
  font-size: 14px;
  line-height: 16px;
  color: #6b6b6b;
  overflow: hidden;
  overflow-wrap: break-word; }

.day__form {
  position: absolute;
  left: 150px;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 300px;
  height: 315px;
  padding: 12px;
  background: white;
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.25)); }
  .day__form::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -5px;
    z-index: -2;
    width: 24px;
    height: 24px;
    transform: rotate(45deg);
    background: white; }

.day__form-event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%; }

.day__form-input {
  width: 100%;
  height: 28px; }

.active {
  border: 1px solid #292929;
  box-shadow: 0 0 10px 2px #27a1ff; }

.block:hover {
  background: none; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.main__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 48px;
  padding: 12px 0; }

.main__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px; }

.main__data-text {
  width: 130px;
  font-family: "Roboto" sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #292929; }

.popup {
  position: absolute;
  left: 0;
  top: 150%;
  display: block;
  z-index: 2000;
  width: 300px;
  height: 110px;
  padding: 12px;
  background: white;
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.25)); }

.popup__inner {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px; }
  .popup__inner::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -20px;
    z-index: -1;
    width: 24px;
    height: 24px;
    background: white;
    transform: rotate(45deg); }

.popup-button {
  width: 10px;
  height: 15px;
  margin-left: auto;
  border: none;
  background: none; }

.popup__input {
  width: 276px;
  height: 28px; }

