/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style/main.scss ***!
  \**************************************************************************************************************/
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background: #fff; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

img {
  display: block; }

.center {
  padding-left: calc(50% - 512px);
  padding-right: calc(50% - 512px); }

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100px;
  background-color: #f4f4f4; }
  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px; }
  .header__buttons {
    display: flex;
    position: relative;
    gap: 10px; }

.form {
  position: relative;
  left: 0;
  top: 0;
  z-index: 0; }
  .form__icon {
    position: absolute;
    left: -40px;
    top: 5px;
    z-index: 1;
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer; }
    .form__icon:hover path {
      fill: #000;
      transform: scale(1.1); }
  .form__input {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.1;
    color: #292929;
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
    display: block;
    width: 210px;
    padding: 6px 12px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    box-shadow: inset 0px 0px 1px 2px #00000040;
    background: #fff;
    outline: none; }
    .form__input::-webkit-search-cancel-button {
      width: 20px;
      height: 20px;
      -webkit-appearance: none;
      background: url(../assets/icon_cross.svg) no-repeat center;
      cursor: pointer; }
    .form__input::placeholder {
      color: #cfcfcf; }
    .form__input:focus {
      border: 1px solid #27a1ff; }
    .form__input:invalid {
      border: 1px solid #e94e4e;
      color: #e94e4e; }
    .form__input:disabled {
      border: 1px solid #cfcfcf;
      color: #cfcfcf;
      background: #f4f4f4; }
  .form__textarea {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.1;
    color: #292929;
    resize: none;
    width: 100%;
    height: 125px;
    margin-top: 16px;
    padding: 6px 12px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    box-shadow: inset 0px 0px 1px 2px #00000040;
    background: #fff; }
    .form__textarea::placeholder {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.1;
      color: #cfcfcf; }
    .form__textarea:focus {
      border: 1px solid #27a1ff;
      outline: none; }
    .form__textarea:invalid {
      border: 1px solid #e94e4e;
      color: #e94e4e; }
    .form__textarea:disabled {
      border: 1px solid #cfcfcf;
      color: #cfcfcf;
      background: #f4f4f4; }
  .form-control {
    display: flex;
    gap: 20px; }

.popup {
  display: block;
  position: absolute;
  left: 0;
  top: 150%;
  z-index: 2000;
  width: 300px;
  height: 110px;
  padding: 12px;
  background: #fff;
  filter: drop-shadow(0px 0px 7px #00000040); }
  .popup__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 0;
    top: 0;
    gap: 8px; }
    .popup__inner::before {
      content: "";
      position: absolute;
      left: 10px;
      top: -20px;
      z-index: -1;
      width: 24px;
      height: 24px;
      background: #fff;
      transform: rotate(45deg); }
  .popup-button {
    width: 10px;
    height: 15px;
    margin-left: auto;
    border: none;
    background: none; }
  .popup__input {
    width: 276px;
    height: 28px; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .main__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 48px;
    padding: 12px 0px; }
  .main__data-text {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #292929;
    width: 130px; }
  .main__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px; }

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px; }

.day {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  color: #6b6b6b;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  max-width: 146px;
  width: 100%;
  height: 120px;
  padding: 8px;
  border: 1px solid #292929;
  transition: background 0.1s linear, border 0.2s linear,  box-shadow 0.2s linear; }
  .day:hover {
    background: #f4f4f4; }
  .day:active {
    border: 1px solid #292929;
    background: #ffffff;
    box-shadow: 0px 0px 10px 2px #0271c7; }
  .day__head {
    font-family: "Roboto", sans-serif;
    font-weight: 400; }
  .day__title {
    height: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #292929; }
  .day__text {
    width: 125px;
    height: 32px;
    font-size: 14px;
    line-height: 16px;
    color: #6b6b6b; }
  .day__form {
    position: absolute;
    left: 150px;
    top: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 300px;
    height: 315px;
    padding: 12px;
    background: #fff;
    filter: drop-shadow(0px 0px 7px #00000040); }
    .day__form::before {
      content: "";
      position: absolute;
      top: 20px;
      left: -5px;
      z-index: -2;
      width: 24px;
      height: 24px;
      transform: rotate(45deg);
      background: #fff; }
    .day__form-event {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      width: 100%; }
    .day__form-input {
      width: 100%;
      height: 28px; }

.active {
  border: 1px solid #292929;
  box-shadow: 0px 0px 10px 2px #0271c7; }

.block:hover {
  background: none; }

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  width: 80px;
  height: 26px;
  padding: 6px 12px 6px 12px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 1px 1px #00000040;
  background-color: #0271c7;
  transition: background 0.2s linear;
  cursor: pointer; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    background-color: #27a1ff; }
  .btn:active {
    background-color: #c2e4fe; }
  .btn:disabled {
    background-color: #cfcfcf; }
  .btn-form-closest {
    margin-left: auto;
    border: none;
    background: none; }

.btn-control {
  display: block;
  width: 36px;
  height: 28px;
  padding: 2px 6px;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  background: #fff;
  transition: background 0.2s linear, color 0.2s linear;
  cursor: pointer; }
  .btn-control--create {
    width: 59px;
    height: 18px;
    margin-top: 10px;
    font-size: 12px; }
  .btn-control--next {
    transform: rotate(180deg); }
  .btn-control:hover,
  .btn-control:hover .btn-icon path {
    background: #6b6b6b;
    fill: #fff; }
  .btn-control:active {
    background: #cfcfcf; }
  .btn-control:disabled,
  .btn-control:disabled .btn-icon path {
    border: 1px solid #cfcfcf;
    background: #ffffff;
    fill: #cfcfcf;
    transition: none; }
  .btn-control--today {
    width: 60px;
    height: 20px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #292929; }
    .btn-control--today:hover {
      color: #fff; }
    .btn-control--today:disabled {
      color: #cfcfcf;
      background: #ffffff;
      transition: none; }
  .btn-control-form {
    width: 60px;
    height: 18px;
    padding: 2px 6px;
    font-size: 12px; }

.icon-svg {
  display: block; }
  .icon-svg--cross {
    margin-left: auto;
    cursor: pointer; }
    .icon-svg--cross:hover path {
      transform: scale(1.1); }
    .icon-svg--cross--form {
      margin-right: 10px; }
  .icon-svg path {
    transition: fill 0.2s linear, transform 0.2s linear; }

