.btn {
  @include format-text-button;

  width: 80px;
  height: 26px;
  padding: 6px 12px;
  border: none;
  border-radius: 2px;
  box-shadow: $box-shadow-button;
  background-color: $science-blue;
  transition: background 0.2s linear;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    background: $dodger-blue;
  }

  &:active {
    background: $french-pass;
  }

  &:disabled {
    background: $alto;
  }
}

.btn-control {
  @include format-text-button;

  display: block;
  width: 36px;
  height: 28px;
  padding: 2px 6px;
  border: none;
  border-radius: 4px;
  box-shadow: $box-shadow-btn-control;
  color: $black;
  text-shadow: none;
  background: $white;
  transition: background 0.2s linear, color 0.2s linear;
  cursor: pointer;

  &:hover {
    background: $dove-gray;
    fill: $white;
  }

  &:active {
    background: $alto;
  }

  &:disabled {
    border: 1px solid $alto;
    background: $white;
    fill: $alto;
    transition: none;
  }

  &:nth-child(3) {
    transform: rotate(180deg);
  }
}

.btn-control-form {
  width: 60px;
  height: 18px;
  padding: 2px 6px;
  font-size: 12px;
}

.btn-form-closest {
  margin-left: auto;
  border: none;
  background: none;
}

.btn-control--create {
  width: 59px;
  height: 18px;
  margin-top: 10px;
  font-size: 12px;
}

.btn-control--today {
  width: 60px;
  height: 20px;
  color: $mine-shaft;

  &:hover {
    color: $white;
  }

  &:disabled {
    color: $alto;
    background: $white;
  }
}
