// -----------------------------------------------------------------------------
// This file contains all @mixin for the project
// -----------------------------------------------------------------------------

@mixin format-text {
  font-family: $text-font-stack;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1;
}

@mixin format-text-button {
  font-family: $text-font-stack;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  text-shadow: 0 0 4px #00000080;
  color: $white;
}
