.day {
  @include format-text;

  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid $mine-shaft;
  padding: 8px;
  width: 100%;
  height: 120px;
  max-width: 146px;
  font-weight: 400;
  color: $dove-gray;
  transition: background 0.1s linear, border 0.2s linear, box-shadow 0.2s linear;
  gap: 5px;

  &:hover {
    background: $wild-sand;
  }

  &:active {
    border: 1px solid $mine-shaft;
    box-shadow: 0 0 10px 2px $dodger-blue;
    background: $white;
  }

  &.prev {
    background: $alto;
  }

  &.next {
    background: $alto;
  }

  &.valid {
    background: $dodger-blue;
  }

  &.current {
    border: 1px solid $mandy;
    background: $cosmos;
  }
}

.day__head {
  overflow: hidden;
  width: 100%;
  font-family: $text-font-stack;
  font-weight: inherit;
}

.day__title {
  overflow: hidden;
  width: 100%;
  height: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $mine-shaft;
}

.day__subtitle {
  overflow: hidden;
  width: 100%;
  height: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $mine-shaft;
}

.day__text {
  overflow: hidden;
  overflow-wrap: break-word;
  width: 125px;
  height: 32px;
  font-size: 14px;
  line-height: 16px;
  color: $dove-gray;
}

.day__form {
  position: absolute;
  left: 150px;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  width: 300px;
  height: 315px;
  background: $white;
  filter: $drop-shadow;
  gap: 8px;

  &::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 20px;
    z-index: -2;
    width: 24px;
    height: 24px;
    background: $white;
    transform: rotate(45deg);
  }

  &.top {
    top: -200px;

    &::before {
      top: 250px;
    }
  }
}

.day__form-active {
  position: absolute;
  left: -320px;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  width: 300px;
  height: 315px;
  background: $white;
  filter: $drop-shadow;
  gap: 8px;

  &::before {
    content: "";
    position: absolute;
    left: 288px;
    top: 20px;
    z-index: -2;
    width: 24px;
    height: 24px;
    background: $white;
    transform: rotate(45deg);
  }

  &.top-active {
    top: -200px;

    &::before {
      top: 250px;
    }
  }
}

.day__form-event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

.day__form-input {
  width: 100%;
  height: 28px;
}

.active {
  border: 1px solid $mine-shaft;
  box-shadow: $box-shadow-active;
}

.block:hover {
  background: none;
}
