.form {
  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
}

.form-control {
  display: flex;
  gap: 20px;
}

.form__input {
  @include format-text;

  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
  display: block;
  width: 210px;
  padding: 6px 12px;
  border: 1px solid $alto;
  border-radius: 4px;
  box-shadow: $box-shadow-form;
  color: $mine-shaft;
  background: $white;
  outline: none;

  &::-webkit-search-cancel-button {
    width: 20px;
    height: 20px;
    appearance: none;
    background: url("../assets/images/header/icon_cross.svg") no-repeat center;
    cursor: pointer;
  }

  &::placeholder {
    color: $alto;
  }

  &:focus {
    border: 1px solid $dodger-blue;
  }

  &:disabled {
    border: 1px solid $alto;
    color: $alto;
    background: $wild-sand;
  }

  &.invalid {
    border: 1px solid $mandy;
    //color: $mandy;
  }

  &.valid {
    border: 1px solid $pastel-green;
  }
}

.form__textarea {
  @include format-text;

  resize: none;
  width: 100%;
  height: 125px;
  margin-top: 16px;
  padding: 6px 12px;
  border: 1px solid $alto;
  border-radius: 4px;
  box-shadow: $box-shadow-form;
  color: $mine-shaft;
  background: $white;

  &::placeholder {
    @include format-text;

    color: $alto;
  }

  &:focus {
    border: 1px solid $dodger-blue;
    outline: none;
  }

  &.valid {
    border: 1px solid $pastel-green;
  }

  &.invalid {
    border: 1px solid $mandy;
    //color: $mandy;
  }

  &:disabled {
    border: 1px solid $alto;
    color: $alto;
    background: $wild-sand;
  }
}

.form__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-message {
  color: $mandy;

  &.hidden {
    display: none;
  }
}

.form__icon {
  position: absolute;
  left: -40px;
  top: 5px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  cursor: pointer;
}
