.header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100px;
  background: $wild-sand;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 100%;
}

.header__buttons {
  position: relative;
  display: flex;
  gap: 10px;
}
