body {
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: $color-text;

    background: $bg-color--page;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
}

.center {
    padding-left: calc(50% - 512px);
    padding-right: calc(50% - 512px);
}