body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: $color-text;
  background: $bg-color--page;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

.center {
  padding-left: calc(50% - 512px);
  padding-right: calc(50% - 512px);
}
