.popup {
  display: block;
  position: absolute;
  left: 0;
  top: 150%;
  z-index: 2000;
  width: 300px;
  height: 110px;
  padding: 12px;

  background: $bg-color-popup;
  filter: $filter-popup;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 0;
    top: 0;
    gap: 8px;

    &::before {
      content: "";
      position: absolute;
      left: 10px;
      top: -20px;
      z-index: -1;
      width: 24px;
      height: 24px;
      background: $bg-color-popup;
      transform: $transform-popup-before;
    }
  }

  &-button {
    width: 10px;
    height: 15px;
    margin-left: auto;
    border: none;
    background: none;
  }

  &__input {
    width: 276px;
    height: 28px;
  }
}


